html {
  font-size: 1rem;
}

.header{
  background-color: #FFB9A0 ;
  color:red;
}

.card{
  margin-bottom: : 20px;
}
  /* .img-fluid-random{
  width:25%;

} */

select{
margin-right: 10px;

}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
